<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr><td>Morning</td> <td> <a href="http://www.datacarpentry.org/organization-genomics/">Project organization and management</a></td></tr>
      <tr><td> </td><td><a href="http://www.datacarpentry.org/shell-genomics/">OpenRefine for data cleaning</a></td></tr>
      <tr><td>Afternoon</td> <td> </td> </tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="http://www.datacarpentry.org/wrangling-genomics/">Data wrangling and processing</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="http://www.datacarpentry.org/cloud-genomics/">Introduction to cloud computing for genomics</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
</div>
