<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr><td>Early Morning</td> <td> <a href="http://www.datacarpentry.org/organization-genomics/">Project organization and management</a></td></tr>
      <tr><td>Coffee Break </td><td></td></tr>
      <tr><td>Late Morning</td> <td><a href="http://www.datacarpentry.org/shell-genomics/">Introduction to the command line</a></td> </tr>
      <tr><td>Lunch Break </td><td></td></tr>
      <tr><td>Afternoon</td> <td>Command line continued</td> </tr>
      <tr><td>Coffee Break </td><td></td></tr>
      <tr> <td>Evening</td> <td>Command line continued</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Early Morning</td> <td><a href="http://www.datacarpentry.org/wrangling-genomics/">Data wrangling and processing</a></td></tr>
      <tr><td>Coffee Break </td><td></td></tr>
      <tr> <td>Late Morning</td><td>Data wrangling continued</td></tr>
      <tr><td>Lunch Break </td><td></td></tr>
      <tr> <td>Afternoon</td><td>Data wrangling continued</td></tr>
      <tr><td>Coffee Break </td><td></td></tr>
      <tr> <td>Evening</td> <td><a href="http://www.datacarpentry.org/cloud-genomics/">Introduction to cloud computing for genomics</a></td> </tr>
    </table>
  </div>
</div>
