<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-python">Project Organization</h3>
    <ul>
      <li>Data Tidiness</li>
      <li>Planning for NGS Projects</li>
      <li>Examining Data on the NCBI SRA Database</li>
      <li><a href="{{site.dc_site}}/organization-genomics/reference">Reference...</a></li>
    </ul>
  </div>  
  <div class="col-md-6">
    <h3 id="syllabus-shell">Introduction to the command line</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Creating and running shell scripts</li>
      <li><a href="{{site.dc_site}}/shell-genomics/reference">Reference...</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Data Wrangling</h3>
    <ul>
      <li>Assessing Read Quality</li>
      <li>Trimming and Filtering</li>
      <li>Variant Calling Workflow</li>
      <li>Automating a Variant Calling Workflow</li>
      <li><a href="{{site.dc_site}}/wrangling-genomics/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-sql">Intro to Cloud Computing</h3>
    <ul>
      <li>Why of cloud computing</li>
      <li>Logging onto Cloud</li>
      <li>Fine tuning your Cloud Setup</li>
      <li>Data roundtripping</li>
      <li>Which Cloud for my data?</li>
      <li><a href="{{site.dc_site}}/cloud-genomics/reference">Reference...</a></li>
    </ul>
  </div>
</div>
